if SHIELD_SPITBALL_LEFT

# Name must be less than 16 characters long!
config ZMK_KEYBOARD_NAME
    default "SpitBall"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_SPLIT_BLE_CENTRAL_PERIPHERALS
  default 1

config BT_MAX_CONN
  default 6

config BT_MAX_PAIRED
  default 6

# Bump this value needed for concurrent GATT discovery of splits
config BT_L2CAP_TX_BUF_COUNT
    default 10 if ZMK_SPLIT_ROLE_CENTRAL

endif

if SHIELD_SPITBALL_LEFT || SHIELD_SPITBALL_RIGHT

config ZMK_SPLIT
    default y

config ZMK_POINTING
    default y

endif

# --- Pinctrl Kconfig for part "right" ---
if BOARD_NICE_NANO_V2 && SHIELD_SPITBALL_RIGHT

config SPI
    default y

config PMW3610
    default y

endif
